
html,body{
  height: 100%;
  width: 100%;
  display: block;
}

.game-container{
  height:100%;
  width: 100%;
  position: relative;
  display:block;
  z-index: 1;
}

h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
  padding: 5px;
  margin-bottom: 50px;
  margin-top: 0px;
}

.container{
  height: 100%;
  width: 100%;
  /*~~~~*/
  /*width: 948px;
  /*~~~~*/
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #333;
  background-image: url("http://eskipaper.com/images/cityscape-12.jpg");
  background-position: center center;
  margin: 0 auto;
  z-index: 0;
}

.highlight{
  background-color: yellow;
  opacity:0.4;
}
/*figure out how to get inheritance from .poles1
*/
.pole1{
  flex-shrink: 3;
  height: 65%;
  width: 75%;
  margin-top: auto;
  /*margin-left: auto;
  margin-right: auto;*/
  /*border-width: 0px 135px 0 135px;*/
  /*~~~~~*/
  /*Padding is considered part of the droppable area, but margin is not. So I set the Margin to zero and set the padding to auto*/
  padding: 0px 135px;
  margin-left: 0;
  margin-right: 0;
  /*~~~~~~~*/
  border-style: solid;
  border-color: rgba(0,0,0,0);

  background-image: url("./tower4.png");
  background-repeat: no-repeat;
  background-size: 100% 175%;
  background-position: calc(31% - 1px) center;
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: visible;
  align-items: center;
  justify-content: flex-end;
}

.pole2{
  flex-shrink: 3;
  height: 65%;
  width: 75%;
  margin-top: auto;
  /*margin-left: auto;
  margin-right: auto;*/
  /*border-width: 0px 135px 0 135px;*/
  /*~~~~~*/
  /*Padding is considered part of the droppable area, but margin is not. So I set the Margin to zero and set the padding to auto*/
  padding: 0px 135px;
  margin-left: 0;
  margin-right: 0;
  /*~~~~~~~*/
  border-style: solid;
  border-color: rgba(0,0,0,0);

  background-image: url("./tower2.png");
  background-repeat: no-repeat;
  background-size: 250% 150%;
  background-position: calc(42% - 5px) top;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: visible;
  align-items: center;
  justify-content: flex-end;
}

.pole3{
  flex-shrink: 3;
  height: 65%;
  width: 75%;
  margin-top: auto;
  /*margin-left: auto;
  margin-right: auto;*/
  /*~~~~~*/
  /*Padding is considered part of the droppable area, but margin is not. So I set the Margin to zero and set the padding to auto*/
  padding: 0px 135px;
  margin-left: 0;
  margin-right: 0;
  /*~~~~~~~*/
  border-style: solid;
  border-color: rgba(0,0,0,0);

  background-image: url("./tower3.png");
  background-repeat: no-repeat;
  background-size: 150% 150%;
  background-position: calc(40% + 7px) top;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: visible;
  align-items: center;
  justify-content: flex-end;
}

#disc1{
  height: 5%;
  width: 90%;
  min-width: 117px;
  order:1;
  /*border: solid purple;
  */border-radius: 10px;
  border-style: groove;
  background: linear-gradient(cyan, white);
  opacity: 0.9;
}

#disc2{
  height: 5%;
  width: 107%;
  min-width: 138px;
  order: 2;
  /*border: solid cyan;
  */border-radius: 10px;
  border-style: groove;
  background: linear-gradient(salmon, white);
  opacity: 0.9;
}

#disc3{
  height: 5%;
  width: 130%;
  min-width: 166px;
  order:3;
  /*border: solid orange;
  */border-radius: 10px;
  border-style: groove;
  background: linear-gradient(green, white);
  opacity: 0.9;
}

#disc4{
  display: none;
  height: 5%;
  width: 152%;
  min-width: 166px;
  order:3;
  /*border: solid orange;
  */border-radius: 10px;
  border-style: groove;
  background: linear-gradient(violet, white);
  opacity: 0.9;
}
#disc5{
  display: none;
  height: 5%;
  width: 175%;
  min-width: 166px;
  order:3;
  /*border: solid orange;
  */border-radius: 10px;
  border-style: groove;
  background: linear-gradient(gray, white);
  opacity: 0.9;
}
footer{
  font-size: 70px;
  text-align: center;
  height: 100%;
  width: auto;
}

/* Dropdown Button */

.menu-button {
    background-color: #4CAF50;
    color: white;
    font-size: 34px;
    border: black solid;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    position:relative;
    padding: 0px 5px;
    display: inline;
}

#subpanel{
  display:flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

#rules {
    flex-shrink: 0;
}

#discs {
  flex-shrink: 0;
}

#scores {
  flex-shrink: 0;
}

#score-ok{
  position: absolute;
  top: 90%;
  right: 44.5%;
  height: 9%;
  width: 9%;
  font-size: 20px;
}

#start{
  margin-left: 25%;
  text-align: center;
  width: 8%;
}

#pause{
  display:none;
  margin-right:22%;
}

#pause.inProgress{
  display: inline;
}

#start.inProgress {
    padding: auto;
    margin-left: 22%;
}
.inProgress {
  display:inline;
}

#start.inProgress {
  display:inline;
}
#pause.inProgress {
  display:inline;
}

.menu-button:hover {
  opacity: .5;
}

.is-disabled {
   pointer-events: none;
}

#score-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#scores-ranked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#moves-ranked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h3 {
  font-size: 42px;
}

#timer-title {
  position: absolute;
  top: 7%;
  left: 9%;
  font-size: 50px;
  color: white;
  z-index: 1;
}

#moves-title {
  position: absolute;
  top: 7%;
  right: 9%;
  font-size: 50px;
  color: white;
  z-index: 5;
}

#timer {
  position: absolute;
  height: 100px;
  width: 200px;
  font-size: 45px;
  top: 65%;
  left: 22%;
  color: white;
  z-index: 5;
}

#moves {
  position: absolute;
  height: 100px;
  width: 200px;
  font-size: 45px;
  top: 65%;
  left: 40%;
  color: white;
  z-index: 7;
}

/* Dropdown button on hover & focus */

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
#rules-content {
    display: none;
    position: absolute;
    top: 12.5%;
    left: 21%;
    overflow: hidden;
    padding: 1% 2.5%;
    width: 55%;
    background-color: #f9f9f9;
    opacity:0.7;
    box-shadow: 50px 50px 50px 100px rgba(0,0,0,0.5);
    border-radius: 20px;
    z-index: 7;
    text-align: center;
    font-size: 22px;
}

#rules-ok {
  height: 10%;
  width: 10%;
  font-size: 20px;
}

#score-content {
    display: none;
    position: absolute;
    top: 20%;
    left: 2%;
    /*left: 20.5%;*/
    overflow: hidden;
    padding: 1% 2.5%;
    height: 70%;
    width: 90%;
    background-color: #f9f9f9;
    opacity:0.7;
    box-shadow: 50px 50px 50px 100px rgba(0,0,0,0.5);
    border-radius: 20px;
    z-index: 7;
    text-align: center;
    font-size: 22px;
}

.times-list1 {
  position: absolute;
}

.moves-list1 {
  position: absolute;
  left: 21%;
}

.times-list2 {
  position: absolute;
}

.moves-list2 {
  position: absolute;
  left: 53.5%;
}

.times-list3 {
  position: absolute;
}

.moves-list3 {
  position: absolute;
  right: 12%;
}


#discs-menu {
    display: none;
    position: absolute;
    top: 6%;
    left: 12.2%;
    overflow: hidden;
    padding: 1%;
    width: 4%;
    background-color: #f9f9f9;
    box-shadow: 50px 50px 50px 100px rgba(0,0,0,0.5);
    border-radius: 0px 0px 20px 20px;
    z-index: 10;
    text-align: center;
    font-size: 40px;
}

#ok {
    font-size: 22px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */


#win{
  display: none;
  opacity: 0.7;
  font-size: 100px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  border-radius: 5%;
  width: 400px;
  position: absolute;
  background-color: #ffcc00;
  box-shadow: 10px 10px 5px #1a1a1a;
  top: 15%;
  left: 36%;
  z-index: 7;
}

.show {
  display:block;
  z-index: 7;
}

#win.show {
  display:block;
  z-index: 7;
}

#discs-menu.show {
  display:block;
  z-index: 7;
}

#disc4.show {
  display:block;
}

#disc5.show {
  display:block;
}

#rules-content.show {
  display:block;
  z-index: 7;
}

#score-content.show {
  display:block;
  z-index: 7;
}

.disc-subtitle {
  position:relative;
}

ul {
  /*list-style-type: none;*/
  position: relative;
  right: 28%;
}

.panel{
  height: 50px;
  width: 100%;
  position: absolute;
  margin: auto;
  background-color: gray;
  opacity: 0.7;
  border-radius: 10px;
  /*display: flex;
  flex-direction: row;*/
  z-index: 1;
}
